# Ignore list for Kicad, a PCB layout tool

# Cache files
*.mdc

# Temporary files
*.000

# Backup Files
*.bak
*.bck
*.kicad_pcb-bak

# Netlist files (exported from Eeschema)
*.net
*.lst

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses
